.rodape {
    background-color: var(--cor-de-fundo-cabecalho);
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container__aplicativo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 7rem;
    width: 100%;
    font-size: 30px;
    color: var(--cor-de-texto);
    background-image: url('../../../assets/aplicativos/imagem-background.jpg');
    background-color: #cccccc; /* Used if the image is unavailable */
    background-repeat: no-repeat;
    background-size: cover;
}

.aplicativo_descricao {
    padding: 0.5em;
}

.aplicativo {
    padding: 0.25em;
}

.icones-svg-redes-sociais {
    height: 1rem;
    width: auto;
    fill: var(--cor-de-icone);
    margin-right: 0.5rem;
}

.container__links {
    display: flex;
    width: 70vw;
    height: auto;
    justify-content: space-between;
    background-color: rgb(190,190,190);
}

.links_lista {
    display: flex;
    flex-direction: column;
    padding: 2rem 1rem;
}

.container__pagamento {
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    height: 7rem;
    width: 70vw;
    background-color: rgb(190,190,190);
}

.teste {
    background-color: blueviolet;
}

.pagamento_lista {
    display: flex;
    /* justify-content: space-between; */
    flex-wrap: wrap;
    width: 16vw;
    background-color: aqua;
}


.lista_descricao {
    padding: 0.25em;
    font-size: 16px;
}

.lista_item {
    padding: 0.25em;
    font-size: 14px;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--cor-de-texto);
}

