<section class="container">
    <img
        class="filme-imagem"
        src="{{ filme.thumbnail != undefined ? filme.thumbnail : '../../../assets/filmes/arquivo-indisponivel.svg'}}"
        alt="Capa do filme">
    <div class="container-info">
        <div class="titulo-filme">
            <p class="titulo ff-montserrat">{{ filme.nomeDoFilme | slice : 0 : 30 }}</p>
        </div>
        <div class="info-filme">
            <p class="badge ff-montserrat">{{ filme.duracao }} min</p>
            <p class="badge ff-montserrat">{{ filme.idioma }}</p>
            <p class="badge ff-montserrat">{{ filme.genero }}</p>
            <p class="badge ff-montserrat">{{ filme.classificacao }}</p>
        </div>
        <div class="info-sala">
            <p class="badge ff-montserrat">{{ filme.nomeDaSala }}</p>
            <p class="badge ff-montserrat">{{ filme.salaVip }}</p>
            <p class="badge ff-montserrat">{{ filme.sala3D }}</p>
        </div>
        <div class="horarios-filme">
            <p class="badge ff-montserrat">{{ filme.horario | date:'HH:mm' }}</p>
        </div>
    
    
    <!-- <button (click)="onModalChange(true)">Mais detalhes</button> -->
    </div>
</section>
    <!-- <div *ngIf="modalAberto">
        <app-modal-filme [filme]="filme" (mudouModal)="onModalChange($event)"></app-modal-filme>
    </div> -->
