
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
}

:root {
    --cor-de-fundo-cabecalho: rgb(184, 4, 4);
    --cor-de-fundo-cabecalho: linear-gradient(98deg, #880f0f 35.49%, #b80404 165.37%);
    --cor-de-icone-cabecalho: #dde3f8;
    --cor-de-fundo-rodape: rgba(25, 25, 25);
    --cor-de-fundo: rgb(43, 40, 40);
    --cor-vermelho: #9e1010;
    /* --cor-vermelho: #9e1010; */
    --vermelho-gradiente: linear-gradient(98deg, #880f0f 35.49%, #b80404 165.37%);

    
    --cor-de-texto: #fcf3f3;
    --cor-de-texto-hover: #f8dddd;
    --cor-de-icone: #fcf3f3;
    --cor-de-icone-hover: #dde3f8;
  }

.ff-montserrat {font-family: 'Montserrat', sans-serif};